.capa3 {
    grid-area: capa3;
    // background-color: red;

    display: grid;
    grid-template:
        /// movil
        "a" auto
        "b" 70rem
    ;

    .general-1 {
        grid-area: a;
        // background-color: tomato;

        display: flex;
        padding: 2rem;
        flex-direction: column;
        justify-content: space-between;
        .btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .botones{
                display: flex;
                justify-content: space-between;
                justify-items: center;
                gap: 3rem;
                .btns-1{
                    border: solid grey 1px;
                    border-radius:15px ;
                    padding: 0 8px;
                    font-size: small;
                }
                .btns-2{
                    border: solid grey 1px;
                    border-radius:15px ;
                    padding: 0 8px;
                    font-size: small;
                }
                .btns-3{
                    border: solid grey 1px;
                    border-radius:15px ;
                    padding: 0 8px;
                    font-size: small;
                }
            }


            .flecha {
                // background-color: aqua;
                border: solid grey 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                width: 50px;
                height: 50px;
    
                img {
                    width: 2rem;
                }
            }
        }
        .imgen{
            display: flex;
            justify-content: center;
            .img{
                background-image: url("/img/flamenco.jpg");
                background-size: cover;
                width: 20rem;
                height: 25rem;
                border-radius: 10rem ;
            }
        }
        .final-card{
            display: flex;
            padding: 1rem;
            justify-content: space-between;
            .palabras-1{
                display: flex;
                gap: 4rem;
                .pla1{
                    font-size: small;
                }
                .pla2{
                    font-size: small;
                }
            }
            .palabras-2{
                .pla3{
                    font-size: small;
                }

            }
        }


    }

    .general-2 {
        grid-area: b;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2rem;
        .secction-1{
            display: flex;
            justify-content: center;
            // background-color: red;
            align-items: center;
            height: 6rem;
            .logo{
                .img{
                    width: 8rem;
                }
            }
        }
        .secction-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: red;
            align-items: center;
            height: 8rem;

            .titulos{
                padding: 2rem;
                .letra{
                    font-size: larger;
                    font-weight: 800;
 
                }
                .letra{
                    font-size: larger;
                    font-weight: 800;
                
                }
            }

            .parrafo{
                font-size: small;

            }
        }
        .secction-3{
            display: flex;
            justify-content: space-between;
            .galleria{
                .imagenes{
                    background-image: url("/img/flamenco.jpg");
                    background-size: cover;
                    width: 4rem;
                    height: 5rem;
                    border-radius: 15px;
                    p{
                        font-size: small;
                    font-weight: 800;
                    }
                }
            }
            .galleria{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .imagenes{
                    background-image: url("/img/flamenco.jpg");
                    background-size: cover;
                    width: 4rem;
                    height: 5rem;
                    border-radius: 15px;
                    p{
                        font-size: small;
                    }
                }
            }

            .galleria{
                .imagenes{
                    background-image: url("/img/flamenco.jpg");
                    background-size: cover;
                    width: 4rem;
                    height: 5rem;
                    border-radius: 15px;
                    p{
                        font-weight: 800;
                    }
                }
            }
            
        }
    }


    // otros dispositivos
    @media (min-width:768px) {
        grid-template:
            "a b " 20rem
            "a b " 20rem
        ;

        .general-1 {
            display: flex;
            padding: 2rem;

            .btns {
                display: flex;

                div {}
            }

            .flecha {
                // background-color: aqua;

                img {}
            }
        }
    }



}