.capa4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem;
    background-color: #f8f8f8;
    gap: 10px;
    padding: 3rem;
    
 
    .capa4-1 {
        grid-column: 1 / -1;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);

        .grid2{
            background-color: #f8f8f8;
            grid-column: 2 / 4;
            display: grid;
            gap: 10px;
            grid-template-columns: 80% 20%;

            .grid2-1{

                label{
                    font-size: xx-large;
                }

            }
            .grid2-2{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                label{
                    font-size: small;
                }

            }


        }
    }

    .capa4-2 {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: 115px 200px 100px;
        gap: 20px;

        .grid7 {
            border-radius: 2rem;
            padding: 1rem;
            background-color: rgb(14, 14, 66);
            

            .grid7-1 {
                height: 70%;
                background-color: rgb(14, 14, 66);
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                position: relative;

                img {
                    border-radius: 2rem;
                    margin-right: 1rem;
                }
                
                label {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0.5rem;
                    color: white;
                }

            }
            .grid7-2 {
                height: 30%;
                background-color: rgb(14, 14, 66);
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;


                label {
                    color: white;
                }
            }


        }

        

        .grid8{
            grid-column: 2 / 4;
            grid-row: 1 / 4;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 1fr;

            .grid8-1{
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

            }
            .grid8-2{
                background-color: #ffffff;
                display: grid;
                grid-template-rows: 25% 65% 10%;
                .font1{
                    display: flex;
                    padding: 1rem;
                    svg{
                        width: 4rem;
                        height: 4rem;
                    }
                    
                }
                .font2{
                    display: flex;
                    padding: 1rem;
                    label{
                        font-size: x-large;
                    }
                }
                .font3{
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .grid5{
            .circulo {
                display: flex;
                justify-content: end;

                .icono {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f8f8f8;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    border: 1px solid black;

                    svg {
                        width: 1rem;
                    }
                }
            }
        }
        .grid6 {
            border-radius: 2rem;
            padding: 1rem;
            background-color: rgb(14, 14, 66);
            

            .grid6-1 {
                height: 70%;
                background-color: rgb(14, 14, 66);
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                position: relative;

                img {
                    border-radius: 2rem;
                    margin-right: 1rem;
                }
                
                label {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0.5rem;
                    color: white;
                }

            }
            .grid6-2 {
                height: 30%;
                background-color: rgb(14, 14, 66);
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;


                label {
                    color: white;
                }
            }


        }
        .grid9 {
            .circulo {
                display: flex;
                justify-content: start;
                align-self: flex-end;  // Ajusta el círculo para que esté abajo
        
                .icono {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f8f8f8;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    border: 1px solid black;
        
                    svg {
                        width: 1rem;
                    }
                }
            }
        }
        .capa4 {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 5rem;
            background-color: #f8f8f8;
            gap: 10px;
            padding: 3rem;
            
         
            .capa4-1 {
                grid-column: 1 / -1;
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(4, 1fr);
        
                .grid2{
                    background-color: #f8f8f8;
                    grid-column: 2 / 4;
                    display: grid;
                    gap: 10px;
                    grid-template-columns: 80% 20%;
        
                    .grid2-1{
        
                        label{
                            font-size: xx-large;
                        }
        
                    }
                    .grid2-2{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
        
                        label{
                            font-size: small;
                        }
        
                    }
        
        
                }
            }
        
            .capa4-2 {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: repeat(4, 1fr); 
                grid-template-rows: 115px 200px 100px;
                gap: 20px;
        
                .grid7 {
                    border-radius: 2rem;
                    padding: 1rem;
                    background-color: rgb(14, 14, 66);
                    
        
                    .grid7-1 {
                        height: 70%;
                        background-color: rgb(14, 14, 66);
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        position: relative;
        
                        img {
                            border-radius: 2rem;
                            margin-right: 1rem;
                        }
                        
                        label {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 0.5rem;
                            color: white;
                        }
        
                    }
                    .grid7-2 {
                        height: 30%;
                        background-color: rgb(14, 14, 66);
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
        
        
                        label {
                            color: white;
                        }
                    }
        
        
                }
        
                
        
                .grid8{
                    grid-column: 2 / 4;
                    grid-row: 1 / 4;
                    display: grid;
                    grid-template-columns: 40% 60%;
                    grid-template-rows: 1fr;
        
                    .grid8-1{
                        position: relative;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
        
                        }
        
                    }
                    .grid8-2{
                        background-color: #ffffff;
                        display: grid;
                        grid-template-rows: 25% 65% 10%;
                        .font1{
                            display: flex;
                            padding: 1rem;
                            svg{
                                width: 4rem;
                                height: 4rem;
                            }
                            
                        }
                        .font2{
                            display: flex;
                            padding: 1rem;
                            label{
                                font-size: x-large;
                            }
                        }
                        .font3{
                            padding: 1rem;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
                .grid5{
                    .circulo {
                        display: flex;
                        justify-content: end;
        
                        .icono {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #f8f8f8;
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            border: 1px solid black;
        
                            svg {
                                width: 1rem;
                            }
                        }
                    }
                }
                .grid6 {
                    border-radius: 2rem;
                    padding: 1rem;
                    background-color: rgb(14, 14, 66);
                    
        
                    .grid6-1 {
                        height: 70%;
                        background-color: rgb(14, 14, 66);
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        position: relative;
        
                        img {
                            border-radius: 2rem;
                            margin-right: 1rem;
                        }
                        
                        label {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin: 0.5rem;
                            color: white;
                        }
        
                    }
                    .grid6-2 {
                        height: 30%;
                        background-color: rgb(14, 14, 66);
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
        
        
                        label {
                            color: white;
                        }
                    }
        
        
                }
                .grid9 {
                    .circulo {
                        display: flex;
                        justify-content: start;
                        align-self: flex-end;  // Ajusta el círculo para que esté abajo
                
                        .icono {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #f8f8f8;
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            border: 1px solid black;
                
                            svg {
                                width: 1rem;
                            }
                        }
                    }
                }
                
        
            }
        }

    }
    @media (max-width: 768px) {
        .capa4-1 {
            .grid2 {
                grid-column: 1 / -1;
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .capa4-2 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto auto auto 100px;

            .grid2 {
                grid-column: 1 / -1;
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .grid8 {
                grid-column: 1 / -1;
                grid-row: 2;
            }

            .grid5, .grid6 {
                grid-column: span 1;
                grid-row: 3;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .grid7, .grid9 {
                grid-column: span 1;
                grid-row: 4;
            }

            .grid1, .grid3 {
                display: none;
            }
            .grid10, .grid11 {
                grid-column: span 1;
                grid-row: 5;
                display: grid;
            }
        }
    }
}