.capa2 {
    grid-area: capa2;
    background-color: #f8f8f8;

    grid-template:
        "caja1 " 5rem
        "caja2 " auto
        "caja3 " 15rem
        "caja4 " 15rem;

    .cajas1 {
        grid-area: caja1;
        // width: 50px;
        background-color: rgb(72, 89, 89);
    }

    .cajas2 {
        grid-area: caja2;
        // background-color: rgb(142, 188, 188);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;
        .a{
            display: flex;
            width: 2.5rem;
            height: 2rem;
            ;
            .estrella{
                display: flex;
                justify-content: center;

                img{
                    width: 1.5rem;
                }
            }
            p{

                font-size: 0.9rem;
                // font-weight: 500;
            }
        }
        .b{
            .minicard{
                background-color: #fff;
                padding: 1rem;
                border-radius: 15px;
                width: 9rem;
                height: 7rem;

                .imgLupa{
                    display: flex;
                    gap: 10px;
                    
                    .a{
                        width:  2.5rem;
                        height: 2.5rem;
                    }
                    .Lupa{
                        position: relative;
                        width: 2rem;
                        height: 2rem;
                        .b{
                            border:  solid 1px grey;
                            // background-color: grey;
                            position: absolute;

                            bottom: 1rem;
                            padding: 0.2rem;
                            border-radius: 50% ;
                        }
                    }
                }
                .texto{
                    padding: 5px;
                    p{
                        font-size: 15px;
                    }
                }
            }
        }

    }

    .cajas3 {
        grid-area: caja3;

        .contenedor{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            position: relative;
            .imgs1{
                position: absolute;
                background-color: #fff;
                left: 5rem;
                padding: 2rem;
                border-radius: 5px ;
                width: 12rem;
                height: 15rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .img{
                    background-image:  url(/img/flamenco.jpg);
                    background-size: cover;
                    border-radius: 15px;                    
                    width: 150px;
                    height: 120px;
                }
                .texto{
                    position: relative;
                    
                    h4{
                        font-size: medium;
                    }
                    p{
                        font-size: small;
                    }
                    .imgad{

                        position: absolute;
                        background-color: #26283d;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:  3rem;
                        height: 3rem;
                        left: 6.5rem;
                        border-radius: 15px;
                        border: solid 1px #fff;
                        img{
                            width: 1rem;
                            height: 1rem;

                        }
                    }
                }
            }

            .imgs2{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    border-radius: 15px;
                    width: 20rem;
                    height: 25rem;
                    border: 2px solid #f8f8f8;
                }
            }
        }
    }

    .cajas4 {
        grid-area: caja4;
        // width: 50px;
        background-color: rgb(75, 24, 195);
        display: flex;
        // flex-direction: column;
        padding: 2rem;
        justify-content: space-between;
        // gap: 8rem;
        .texto{
            font-size: 3rem;
            // gap: 5rem;
        }
        .cajas4-1{
            
            // gap: 5rem;
            background-color: aquamarine;
            .caja1-1{
                display: flex;
                background-color: red;
                width: 12rem;
                flex-direction: column;
                div{
                    padding: 2px;
                    // display: flex;
                    // justify-content:flex-end;
                }
            }
            .caja1-2{
                display: flex;
                justify-content: flex-end;
                gap: 2rem;
                // width: 12rem;
                padding: 2px;
                background-color: yellow;

            }
            .caja1-3{
                // padding: ;
                background-color: blueviolet;
                .textos{

                }
            }
        }
    }

    .cajas5 {
        grid-area: caja4;
        // width: 50px;
        background-color: aqua;
    }

    .cajas6 {
        grid-area: caja4;
        // width: 50px;
        // background-color: rgb(27, 26, 74);
    }

    // Estilos específicos para dispositivos pequeños (móviles)
    @media (min-width: 575.98px) {
        //
        display: grid;
        grid-template:
            "caja1 caja1 caja1" 10rem
            "caja2 caja3 caja4" 15rem
            "caja2 caja3 caja4" 15rem;

        .cajas1 {
            grid-area: caja1;

            padding: 15px;
            display: flex;
            flex-direction: column;
            .texto{
                // position: absolute;
                display: flex;
                width: 5rem;
                height: 2rem;
                background-color: black;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                p{
                    color: white;
                    font-size: small;
                    font-weight: 300;
                    
                }
            }

            .contenedor{
                display: flex;
                position: relative;
                // background-color: blue;
                // flex-direction: column;
                align-items: center;
                padding: 2rem;
                // justify-content: center;
                gap: 5rem;
                .texto-flecha{
                    // color: black;
                    // color: white;
                    font-size: 1.5rem;
                }
                .flecha{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    // background-color: aquamarine;
                    border: solid 1px grey;
                    img{
                        width: 1.5rem;
                        // height: 1rem;
                    }
                }
                
            }

        }

        .cajas2 {
            grid-area: caja2;
            // width: 50px;
            // background-color: aqua;
        }

        .cajas3 {
            grid-area: caja3;
            // width: 50px;
            // background-color: rgb(29, 56, 56);
        }

        .cajas4 {
            grid-area: caja4;
            // width: 50px;
            // background-color: rgb(75, 24, 195);
        }

        .cajas5 {
            grid-area: caja5;
            // width: 50px;
            background-color: aqua;
        }

        .cajas6 {
            grid-area: caja6;
            // width: 50px;
            background-color: rgb(27, 26, 74);
        }
    }
}