* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.container > * {
  background-color: #f8f8f8;
  border-radius: 0.5rem;
}

.container {
  gap: 0.5rem;
  display: grid;
  grid-template: "Header" auto "capa1" minmax(50rem, auto) "capa2" 50rem "capa3" 50rem "capa4" 50rem "capa5" auto "footer" 26rem;
}

.Header {
  grid-area: Header;
  background-color: #e7dfdf;
}
.Header .padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
}
.Header .padre .hijo1 {
  display: flex;
  width: clamp(150px, 25%, 320px);
  justify-content: space-between;
}
.Header .padre .hijo1-titulo {
  display: flex;
  align-items: center;
}
.Header .padre .hijo1-titulo p {
  font-size: clamp(0.75rem, 0rem + 3vw, 1.3125rem);
  font-weight: 700;
}
.Header .padre .hijo1-horaLugar {
  display: flex;
  align-items: center;
}
.Header .padre .hijo1-horaLugar p {
  font-size: clamp(0.7rem, 1vw, 11px);
  font-weight: 900;
  padding: 0 0.1rem;
}
.Header .padre .hijo2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(180px, 20%, 350px);
}
.Header .padre .hijo2 .hijo2-Idioma {
  display: flex;
  background-color: #fff;
  padding: 0 4px;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}
.Header .padre .hijo2 .hijo2-Idioma .a {
  padding: 0.2rem 0.4rem;
  background-color: aqua;
  margin: 0.2rem;
  border-radius: 40%;
}
.Header .padre .hijo2 .hijo2-Idioma .a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.Header .padre .hijo2 .hijo2-Idioma .b {
  padding: 0.2rem 0.4rem;
  border-radius: 40%;
}
.Header .padre .hijo2 .hijo2-Idioma .b:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.Header .padre .hijo2 .hijo2-Iconos {
  display: flex;
  gap: 0.5rem;
}
.Header .padre .hijo2 .hijo2-Iconos .iconos1 {
  display: flex;
  position: relative;
}
.Header .padre .hijo2 .hijo2-Iconos .iconos1 .circulo1 {
  position: absolute;
  top: -15px;
  left: 7px;
  background-color: #f5c10a;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.Header .padre .hijo2 .hijo2-Iconos .iconos2 {
  display: flex;
  position: relative;
}
.Header .padre .hijo2 .hijo2-Iconos .iconos2 .icono2 {
  position: absolute;
  top: -15px;
  left: 7px;
  background-color: #f5c10a;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.Header .padre .hijo2 .hijo2-User {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 0.1rem 0.2rem;
  border: solid 1px rgb(209, 200, 200);
}
.Header .padre .hijo2 .hijo2-User img {
  width: clamp(0.8rem, 10%, 5rem);
}
.Header .padre .hijo2 .hijo2-User .fotoUser {
  width: clamp(1.7rem, 1vw, 2rem);
}

.capa1 {
  grid-area: capa1;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1764705882) 0%, rgba(255, 0, 0, 0.216) 100%), url(../img/img01.jpg);
  background-size: cover;
  background-position: center;
}
.capa1 .capa1-hijo1 {
  margin: 1rem;
  display: flex;
  height: 70%;
}
.capa1 .capa1-hijo1 .hijo1-contenedor {
  display: flex;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor1 p {
  color: white;
  font-size: clamp(0.3rem, 0.4rem + 1vw, 0.7rem);
  font-weight: 200;
  margin: 2rem;
  padding: 0.2rem;
  border: solid 2px slategray;
  border-radius: 15px;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .texto {
  color: black;
  margin: 1rem;
  width: minmax(auto, 150px);
  color: white;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .texto p {
  font-size: clamp(1.5625rem, -3.0208rem + 18.3333vw, 5rem);
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .boton {
  display: flex;
  margin: 1rem;
  gap: 5px;
  align-items: center;
  position: relative;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .boton .btns1 {
  background-color: #f8f8f8;
  padding: 10px 14px;
  border-radius: 8px;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .boton .btns2 {
  background-color: #f8f8f8;
  width: 2rem;
  height: 1rem;
  padding: 0 12px;
  position: absolute;
  left: 6rem;
  border-radius: 8px;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .boton .btns3 {
  transform: rotate(45deg);
  background-color: #f8f8f8;
  padding: 4px;
  border-radius: 50%;
  display: flex;
}
.capa1 .capa1-hijo1 .hijo1-contenedor .contenedor2 .boton .btns3 .icon {
  background-color: #26283d;
  padding: 10px;
  border-radius: 50%;
}
.capa1 .capa1-hijo2 {
  display: flex;
  height: 30%;
  margin: 2rem;
  position: relative;
  justify-content: space-between;
}
.capa1 .capa1-hijo2 .circulos .capa-2 {
  position: relative;
}
.capa1 .capa1-hijo2 .circulos .capa-2 .flecha {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.capa1 .capa1-hijo2 .circulos .capa-2 .flecha p {
  text-align: center;
  color: white;
}
.capa1 .capa1-hijo2 .circulos .capa-3 .flecha {
  position: absolute;
  top: 4rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.capa1 .capa1-hijo2 .circulos .capa-3 .flecha img {
  text-align: center;
  color: black;
}
.capa1 .capa1-hijo2 .card {
  background-color: #fff;
  height: 300px;
  width: 300px;
  -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 30%);
          clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%, 0 30%);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.capa1 .capa1-hijo2 .card .circulo {
  display: flex;
  justify-content: end;
}
.capa1 .capa1-hijo2 .card .circulo .icono {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #f8f8f8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid black;
}
.capa1 .capa1-hijo2 .card .circulo .icono img {
  width: 1rem;
}
.capa1 .capa1-hijo2 .card .parrafo {
  font-weight: 5000;
  font-size: large;
}
.capa1 .capa1-hijo2 .card .parrafo p {
  padding: 4.5rem 0.1rem 0.3rem 0.1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.capa1 .capa1-hijo2 .card .linea {
  border: 1px solid rgba(187, 184, 184, 0.8235294118);
}
.capa1 .capa1-hijo2 .card .palabras-tres {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}
.capa1 .capa1-hijo2 .card .palabras-tres span {
  font-size: medium;
  font-weight: 500;
}

.capa2 {
  grid-area: capa2;
  background-color: #f8f8f8;
  grid-template: "caja1 " 5rem "caja2 " 50rem "caja3 " 15rem "caja4 " 15rem;
}
.capa2 .cajas1 {
  grid-area: caja1;
}
.capa2 .cajas2 {
  grid-area: caja2;
  background-color: aqua;
}
.capa2 .cajas2 .a {
  background-color: aqua;
}
.capa2 .cajas2 .a .estrella {
  background: #f8f8f8;
}
.capa2 .cajas2 .a p {
  font-size: 1.5rem;
}
.capa2 .cajas2 .b .minicard {
  background-color: rgb(108, 125, 125);
}
.capa2 .cajas3 {
  grid-area: caja3;
  background-color: rgb(29, 56, 56);
}
.capa2 .cajas4 {
  grid-area: caja3;
  background-color: rgb(75, 24, 195);
}
.capa2 .cajas5 {
  grid-area: caja4;
  background-color: aqua;
}
.capa2 .cajas6 {
  grid-area: caja4;
}
@media (min-width: 575.98px) {
  .capa2 {
    display: grid;
    grid-template: "caja1 caja1 caja1" 10rem "caja2 caja3 caja4" 15rem "caja2 caja3 caja4" 15rem;
  }
  .capa2 .cajas1 {
    grid-area: caja1;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .capa2 .cajas1 .texto {
    display: flex;
    width: 5rem;
    height: 2rem;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .capa2 .cajas1 .texto p {
    color: white;
    font-size: small;
    font-weight: 300;
  }
  .capa2 .cajas1 .contenedor {
    display: flex;
    position: relative;
    align-items: center;
    padding: 2rem;
    gap: 5rem;
  }
  .capa2 .cajas1 .contenedor .texto-flecha {
    font-size: 1.5rem;
  }
  .capa2 .cajas1 .contenedor .flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: solid 1px grey;
  }
  .capa2 .cajas1 .contenedor .flecha img {
    width: 1.5rem;
  }
  .capa2 .cajas2 {
    grid-area: caja2;
    background-color: aqua;
  }
  .capa2 .cajas3 {
    grid-area: caja3;
    background-color: rgb(29, 56, 56);
  }
  .capa2 .cajas4 {
    grid-area: caja3;
    background-color: rgb(75, 24, 195);
  }
  .capa2 .cajas5 {
    grid-area: caja4;
    background-color: aqua;
  }
  .capa2 .cajas6 {
    grid-area: caja4;
    background-color: rgb(27, 26, 74);
  }
}

.capa3 {
  grid-area: capa3;
  background-color: red;
}

.capa4 {
  grid-area: capa4;
  background-color: rgb(182, 122, 122);
}

.capa5 {
  grid-area: capa5;
  background-color: #e7dfdf;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.capa5 .capa5-1 {
  background-color: #e7dfdf;
  border-radius: 2rem;
}
.capa5 .capa5-1 .grid1 label {
  font-size: small;
  padding: 5px;
  border-radius: 20px;
  background: #000;
  color: #ffffff;
}
.capa5 .capa5-2 {
  background-color: #ffffff;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 20px;
}
.capa5 .capa5-2 .grid2 {
  padding: 10px;
  display: grid;
  grid-template-columns: 87% 13%;
}
.capa5 .capa5-2 .grid2 .grid2-1 label {
  font-size: 3.5rem;
}
.capa5 .capa5-2 .grid2 .grid2-2 {
  height: 2rem;
  display: flex;
  background-color: #e7dfdf;
  padding: 0 4px;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
}
.capa5 .capa5-2 .grid2 .grid2-2 .a,
.capa5 .capa5-2 .grid2 .grid2-2 .b {
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}
.capa5 .capa5-2 .grid2 .grid2-2 .a {
  background-color: aqua;
  margin: 0.2rem;
}
.capa5 .capa5-2 .grid2 .grid2-2 .a:hover,
.capa5 .capa5-2 .grid2 .grid2-2 .b:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.capa5 .capa5-2 .grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 160px;
}
.capa5 .capa5-2 .grid3 .grid3-1,
.capa5 .capa5-2 .grid3 .grid3-2 {
  background-color: #ffffff;
  display: grid;
}
.capa5 .capa5-2 .grid3 .grid3-1 label,
.capa5 .capa5-2 .grid3 .grid3-2 label {
  align-self: end;
  justify-self: start;
}
.capa5 .capa5-2 .grid3 .grid3-4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2rem;
}
.capa5 .capa5-2 .grid3 .grid3-4 img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.capa5 .capa5-3 {
  display: flex;
  align-items: stretch;
}
.capa5 .capa5-3 .card {
  background-color: #ffffff;
  flex-grow: 1;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 35%);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 35%);
  padding: 1rem;
  border-radius: 10px;
  flex-direction: column;
}
.capa5 .capa5-3 .card .circulo {
  display: flex;
  justify-content: end;
}
.capa5 .capa5-3 .card .circulo .icono {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid black;
}
.capa5 .capa5-3 .card .circulo .icono img {
  width: 1rem;
}
.capa5 .capa5-3 .card .parrafo {
  font-weight: 5000;
  font-size: large;
}
.capa5 .capa5-3 .card .parrafo p {
  padding: 4.5rem 0.1rem 0.3rem 0.1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.capa5 .capa5-3 .card .palabras-tres {
  height: 100%;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: flex-end;
}
.capa5 .capa5-3 .card .palabras-tres span {
  font-size: medium;
  font-weight: 500;
}
.capa5 .capa5-4,
.capa5 .capa5-6 {
  display: flex;
  align-items: stretch;
}
.capa5 .capa5-4 .card,
.capa5 .capa5-6 .card {
  background-color: #ffffff;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 10px;
  flex-direction: column;
}
.capa5 .capa5-4 .card .circulo,
.capa5 .capa5-6 .card .circulo {
  display: flex;
  justify-content: end;
}
.capa5 .capa5-4 .card .circulo .icono,
.capa5 .capa5-6 .card .circulo .icono {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid black;
}
.capa5 .capa5-4 .card .circulo .icono img,
.capa5 .capa5-6 .card .circulo .icono img {
  width: 1rem;
}
.capa5 .capa5-4 .card .parrafo,
.capa5 .capa5-6 .card .parrafo {
  font-weight: 5000;
  font-size: large;
}
.capa5 .capa5-4 .card .parrafo p,
.capa5 .capa5-6 .card .parrafo p {
  padding: 4.5rem 0.1rem 0.3rem 0.1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.capa5 .capa5-4 .card .palabras-tres,
.capa5 .capa5-6 .card .palabras-tres {
  height: 100%;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: flex-end;
}
.capa5 .capa5-4 .card .palabras-tres span,
.capa5 .capa5-6 .card .palabras-tres span {
  font-size: medium;
  font-weight: 500;
}
@media (max-width: 768px) {
  .capa5 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
  .capa5 .capa5-1 {
    grid-column: 1/2;
    grid-row: 2;
  }
  .capa5 .capa5-2 {
    grid-column: 1/3;
    grid-row: 1;
  }
  .capa5 .capa5-3 {
    grid-column: 2/3;
    grid-row: 2;
  }
  .capa5 .capa5-4 {
    grid-column: 1/2;
    grid-row: 3;
  }
  .capa5 .capa5-6 {
    grid-column: 2/3;
    grid-row: 3;
  }
  .capa5 .capa5-5,
  .capa5 .capa5-7 {
    display: none;
  }
}

.footer {
  grid-area: footer;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.footer .footer-section {
  background-color: #ffffff;
  border-radius: 5px;
}
.footer .footer-section:nth-child(1) {
  text-align: left;
  display: flex;
  align-items: center;
}
.footer .footer-section:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}
.footer .footer-section:nth-child(2) > div {
  justify-self: end;
}
@media (max-width: 768px) {
  .footer .footer-section:nth-child(2) > div {
    justify-self: start;
  }
}
.footer .footer-section:nth-child(2) .circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-section:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.footer .footer-section:nth-child(3) .elipse {
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #e7dfdf;
}
.footer .footer-section:nth-child(3) .elipse .texto {
  padding: 20px;
}
.footer .footer-section:nth-child(3) .elipse .circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-section:nth-child(3) .elipse .circulo svg {
  color: white;
}
.footer .footer-section:nth-child(4) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer .footer-section:nth-child(4) img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */